body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  input, button {
    padding: 8px;
    margin: 5px;
    font-size: 1rem;
  }
  
  button {
    cursor: pointer;
  }
  